<div>Sign Up</div>
<%= form_with model: @user, url: registration_path do |form| %>
  <% if form.object.errors.any? %>
    <% form.object.errors.full_messages.each do |message| %>
      <div> <%= message %></div>
    <% end %>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number %>
  </div>

  <div>
    <%= form.label :celebration_date %>
    <%= form.datetime_local_field :celebration_date %>
  </div>

  <%= form.submit "Create account" %>

<% end %>